/* *********** Document Style  *********** */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Sintony', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

/* *********** Home Background (nav.html)  *********** */
.homeBackground, .loginScreen, .registerScreen {
  height: 100vh;
  background-image: url('http://cdn.history.com/sites/2/2015/09/iStock_000038100826_Large.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeForm {
  height: 50%;
  margin-top: 0 auto; 
}
.homeTitle {
  color:rgba(255,255,255,0.7);
  text-transform: uppercase;
  /* background-color: lightgrey; */
  padding: 20px;
  /* width: 30%; */
  text-align: center;
  font-size: 4.6rem;
  border-radius: 5px;
  /* opacity: .8; */
}
.selectContainer {
  width: 40%;
  background-color:  rgb(48,48,48);
  border-radius: 5px;
  /* opacity: .9; */
  text-align: center;
  color: rgba(255,255,255,0.7);
}
#navHeader {
  border-bottom: 2px solid rgba(255,255,255,0.7);
  background-color: rgb(48,48,48);
}

/* *********** Park View Header  *********** */
.parkNavHeader {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}
.parkNavName {
  background-color: lightGrey;
  opacity: .8;
  text-transform: uppercase;
  /* width: 400px; */
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  color: rgb(48,48,48);
  font-size: 4.6rem;
}
.icon-red svg {
  fill: deeppink;
}
/* *********** Park Description View  *********** */
.parkDescriptionView {
  width: 70%;
  margin: 0 auto;
  border-left: 2px solid rgba(255,255,255,0.7);
  border-right: 2px solid rgba(255,255,255,0.7);
  padding: 30px;
}
.parkName {
  text-align: center;
  font-size: x-large;
}
.parkLocation {
  text-decoration: underline;
}
.parkDescription, .parkLocation {
  text-align: center;
  font-size: 1.6rem;
  line-height: 300%;
}
/* *********** Park Articles View *********** */

.parkArticlesView {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-left: 2px solid rgba(255,255,255,0.7);
  border-right: 2px solid rgba(255,255,255,0.7);
  padding: 30px;
}
.md-card {
  height: 200px;
  width: 100%;
}
#articleTitle {
  display: flex;
  flex-wrap: wrap;
}
/* *********** Park Events View *********** */
.eventCard {
  width: 60%;
  margin: 0 auto;
  border-left: 2px solid rgba(255,255,255,0.7);
  border-right: 2px solid rgba(255,255,255,0.7);
  padding: 30px;
}
.eventContent {
  text-align: center;
}
.eventHeader {
  text-align: center;
  text-decoration: underline;
}
/* *********** Park Gallery View *********** */
.photoContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photoHeader {
  text-align: center;
}
.photoDescription {
  text-align: center;
}
.whiteframe {
  width: 400px;
}
#photo {
  height: 300px;
  object-fit: cover;
}
/* *********** Park Reviews View *********** */
.reviewBody {
  width: 60%;
  margin: 0 auto;
  border-left: 2px solid rgba(255,255,255,0.7);
  border-right: 2px solid rgba(255,255,255,0.7);
  padding: 30px;
}
.form-control {
  border: 1px solid lightgrey;
}
md-list-item {
  border-bottom: 2px solid rgb(121,85,72);
}
#reviewHeader {
  text-align: center;
}
#reviewButton {
  margin: 20px;
}
/* *********** Favorites View *********** */
.favorites {
  color: red;
}
md-toast {
  background-color: rgba(255,255,255,0.7);
} 
.favoriteContainer {
  text-align: center;
}
.favoriteCard{
  width: 30%;
  text-align: center;
}
.favoriteImgContainer {
  margin: 0 auto;
}
.favoriteCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#favoriteImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  text-align: center;
}
/* *********** Header partial *********** */
.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  color: #DDDDDD;
  padding: 15px;
  height: 200px;
}
/* *********** Login/Register Styles *********** */
.userHeader {
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  font-size: 4.6rem;
}
.formContainer {
  width: 20%;
  margin: 0 auto;
  border-radius: 5px;
}
a {
  color: rgba(255,255,255,0.7);
}
.lead {
  text-align: center;
}
.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

li {
  float: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
md-button {
  color: rgba(255,255,255,0.7);
}