<div layout="row" layout-align="space-between end" class="md-margin" id="navHeader">

  <!-- Users name -->
  <h4 id="welcome">Hello, {{vm.userName.username}}!</h4>

  <!-- Nav bar directing users to "home" or "favorites" views -->
  <md-content class="navBarHome" layout="row" layout-align="center center">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" flex=100>
      <div>
        <md-nav-item id="home" md-nav-href="#!home" name="Home">Home</md-nav-item>
        <md-nav-item id="favorites" md-nav-href="#!favorites" ng-click="vm.favoriteInfo(vm.currentNavItem, vm.userObject._id )" name="favorites"
          value="favorites">Favorites</md-nav-item>
      </div>
    </md-nav-bar>
  </md-content>

  <!-- Logout Button -->
  <md-button ng-click="vm.userService.logout()">
    Logout
  </md-button>
  
</div>