<md-content class="md-padding">
  <div class="parkNavHeader" layout="row" layout-align="center top">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links"
      flex=20>
      <div>
        <md-nav-item md-nav-href="#!user" name="Home">Home</md-nav-item>
        <md-nav-item md-nav-href="#!favorites" name="favorites">Favorites</md-nav-item>
      </div>
    </md-nav-bar>
  </div>
  <div layout="column" layout-align="center center stretch">
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links"
      flex=20>
      <md-nav-item md-nav-href="#!description" name="Description">Description</md-nav-item>
      <md-nav-item md-nav-href="#!articles" name="Articles">Articles</md-nav-item>
      <md-nav-item md-nav-href="#!events" name="Events">Events</md-nav-item>
      <md-nav-item md-nav-href="#!gallery" name="Gallery">Gallery</md-nav-item>
      <md-nav-item md-nav-href="#!reviews" name="Reviews">Reviews</md-nav-item>
    </md-nav-bar>
  </div>
</md-content>
