<md-content class="md-padding" ng-repeat="parks in vm.parkList.list.data">
  <div layout="row" layout-align="start start">
    <md-button class="md-raised" ng-click="vm.favoritePark(vm.userObject._id, parks.parkCode)">
        <md-icon md-svg-src="../../assets/svg/favorite.svg"></md-icon>
      Favorite Park
    </md-button>
  </div>
  <div 
    class="parkNavHeader"
    layout="row" 
    layout-align="center center"> 
    <h1 class="parkNavName">
      {{parks.name}}
    </h1>
  </div>
  <div 
    layout="column" 
    layout-align="center center">
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="vm.currentNavItem"
      nav-bar-aria-label="navigation links"
      ng-repeat="parks in vm.parkList.list.data"
      flex=20>
      <md-nav-item md-nav-href="#!parks/description" name="description">Description</md-nav-item>
      <md-nav-item md-nav-href="#!parks/articles" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="articles" value="articles">Articles</md-nav-item>
      <md-nav-item md-nav-href="#!parks/events" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="events" value="events">Events</md-nav-item>
      <md-nav-item md-nav-href="#!parks/gallery" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="gallery" value="gallery">Gallery</md-nav-item>
      <md-nav-item md-nav-href="#!parks/reviews" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="reviews" value="reviews">Reviews</md-nav-item>
    </md-nav-bar>
  </div>
</md-content>
