<md-content class="md-padding">
  <div 
    class="parkNavHeader" 
    layout="column" 
    layout-align="space-between center"
    ng-repeat="parks in vm.parkList.list.data">
    
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links"
      flex=20>
      <!-- <div>
        <md-nav-item md-nav-href="#!home" name="Home">Home</md-nav-item>
        <md-nav-item md-nav-href="#!favorites" name="favorites">Favorites</md-nav-item>
      </div> -->
    </md-nav-bar>
    
    <h1>
      {{parks.name}}
    </h1>

  </div>
  <div 
    layout="column" 
    layout-align="center center">
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="vm.currentNavItem"
      nav-bar-aria-label="navigation links"
      ng-repeat="parks in vm.parkList.list.data"
      flex=20>
      <md-nav-item md-nav-href="#!parks/description" name="description">Description</md-nav-item>
      <md-nav-item md-nav-href="#!parks/articles" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="articles" value="articles">Articles</md-nav-item>
      <md-nav-item md-nav-href="#!parks/events" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="events" value="events">Events</md-nav-item>
      <md-nav-item md-nav-href="#!parks/gallery" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="gallery" value="gallery">Gallery</md-nav-item>
      <md-nav-item md-nav-href="#!parks/reviews" ng-click="vm.parkInfo(vm.currentNavItem, parks.parkCode)" name="reviews" value="reviews">Reviews</md-nav-item>
    </md-nav-bar>
  </div>
</md-content>
