<md-dialog aria-label="Mango (Fruit)">
  <!-- modal for adding reviews -->
  <form ng-cloak>

    <!-- header of modal -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Hello, {{vm.userObject.username}}! Share your experience!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="../../assets/svg/Cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <!-- top section of modal (ratings) -->
      <div class="md-dialog-content" layout="column">
        <h3>How was your trip to {{vm.parkList.list.name}} National Park? </h3>
        <h3>Rate {{vm.parkList.list.name}}</h3>
        <!-- first rate is the star count -->
        <jk-rating-stars rating="vm.firstRate"></jk-rating-stars>
        <div style="width: 100px"></div>
        <md-input-container class="form-control">
          <textarea rows="5" ng-model="vm.review" placeholder="Your Review" md-no-asterisk required></textarea>
        </md-input-container>
      </div>

    </md-dialog-content>

    <!-- bottom section of modal (review tex area and submit button) -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="vm.submitReview(vm.userObject.username, vm.userObject._id, vm.firstRate, vm.review, vm.parkList.list.parkCode)">
        Submit Review
      </md-button>
    </md-dialog-actions>

  </form>

</md-dialog>