<md-dialog aria-label="Mango (Fruit)">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Share Your Experience</h2>
              <span flex></span>
              <md-button class="md-primary" ng-click="cancel()">
              </md-button>
            </div>
          </md-toolbar>
      
          <md-dialog-content>
            <div class="md-dialog-content">
              <h1></h1>
            </div>
          </md-dialog-content>
          <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.answer('not useful')">
             Not Useful
            </md-button>
            <md-button ng-click="vm.answer('useful')" class="md-primary">
              Useful
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>