<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Hello, {{vm.userObject.username}}!</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="../../assets/svg/Cancel.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <h3>Add a description</h3>
                <div style="width: 100px"></div>
                <md-input-container class="form-control">
                    <textarea rows="5" ng-model="vm.description" placeholder="Caption" md-no-asterisk required></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-repeat="parks in vm.parkList.list.data">
            <span flex></span>
            <md-button class="md-raised" ng-click="vm.addDescription(vm.imageId, vm.description, parks.parkCode)">
                Add Caption
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>