<div class="homeNav" ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/parkNav.html'"></div>
<div class="eventCard">

    <!-- Card for each event at each national park -->
    <md-card ng-repeat="events in vm.infoList.list.data" layout="column" layout-align="center center">

        <!-- Event title and location-->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{events.title}}</span>
                <span class="md-subhead">
                    <h2 class="eventHeader">
                        <strong>Where</strong>
                    </h2>
                    <p class="eventContent">{{events.location}}</p>
                </span>
            </md-card-title-text>
        </md-card-title>

        <!-- Dates of events and a general description of what the event is -->
        <md-card-content>
            <div>
                <h2 class="eventHeader">
                    <strong>What</strong>
                </h2>
                <p class="eventContent">{{events.abstract}}</p>
            </div>

            <!-- Dates of the Event -->
            <div class="md-media-sm card-media" ng-if="events.recurrence.startDate">
                <h2 class="eventHeader">
                    <strong>When</strong>
                </h2>
                <p class="eventContent">Start Date: {{events.recurrence.startDate | date:'fullDate'}}</p>
                <p class="eventContent">End Date: {{events.recurrence.endDate | date:'fullDate'}}</p>
                <p class="eventContent">Frequency: {{events.recurrence.frequency}}</p>
            </div>

            <div ng-if="!events.recurrence.startDate">
                <h2 class="eventHeader">
                    <strong>When</strong>
                </h2> 
                <p class="eventContent">{{events.dates | date:'fullDate'}}</p>
            </div>
        </md-card-content>

    </md-card>
    
</div>