<div class="homeNav" ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/parkNav.html'"></div>
<div>

    <!-- Card for each event at each national park -->
    <md-card ng-repeat="events in vm.infoList.list.data">

        <!-- Event title and location-->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{events.title}}</span>
                <span class="md-subhead">
                    <h2>
                        <strong>Where:</strong>
                    </h2>
                    <p>{{events.location}}</p>
                </span>
            </md-card-title-text>
        </md-card-title>

        <!-- Dates of events and a general description of what the event is -->
        <md-card-content>
            <div>
                <h2>
                    <strong>What:</strong>
                </h2>
                <p>{{events.abstract}}</p>
            </div>
            <div class="md-media-sm card-media">
                <h2>
                    <strong>When:</strong>
                </h2>
                <label class="eventDates">Start Date:</label>
                <p>{{events.recurrence.startDate | date:'fullDate'}}</p>
                <label class="eventDates">End Date:</label>
                <p>{{events.recurrence.endDate | date:'fullDate'}}</p>
                <label class="eventDates">Frequency:</label>
                <p>{{events.recurrence.frequency}}</p>
            </div>
        </md-card-content>

    </md-card>
    
</div>