<div ng-include="'views/partials/nav.html'"></div>
<div class="favoriteContainer">
  <h1>Your Favorites</h1>
  <div class="favoriteCardContainer">
    <md-card class="favoriteCard" ng-repeat="favorites in vm.favoriteList.list">
      <md-card-header>
        <md-card-header-text layout="row" layout-align="center center">
          <h1 class="md-headline">{{favorites.parkName}}</h1>
        </md-card-header-text>
      </md-card-header>
      <div class="favoriteImgContainer" ng-repeat="nationalPark in vm.nationalPark" ng-if="nationalPark.code === favorites.parkId" md-whiteframe="24"  layout layout-align="center center">
          <a href='#!parks/description'><img id="favoriteImg" ng-src="{{nationalPark.picture}}"  ng-click="vm.parkDescription(nationalPark)" class="md-card-image"  alt="Washed Out"></a>
      </div>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
      </md-card-content>
      <md-button class="md-raised" ng-click="vm.deleteFavorites(favorites._id)">Delete from Favorites List</md-button>
    </md-card>
  </div>