<div ng-include="'views/partials/nav.html'"></div>
<div class="favoriteContainer">
  <h1>Your Favorites</h1>
  <div class="favoriteCardContainer">

    <!-- Card for each park that's favorited -->
    <md-card class="favoriteCard" ng-repeat="favorites in vm.favoriteList.list">

      <!-- Name of Favorited Park -->
      <md-card-header>
        <md-card-header-text layout="row" layout-align="center center">
          <h1 class="md-headline">{{favorites.parkName}}</h1>
        </md-card-header-text>
      </md-card-header>

      <!-- Image of Favorited Park -->
      <div class="favoriteImgContainer" ng-repeat="nationalPark in vm.nationalPark" ng-if="nationalPark.code === favorites.parkId"
        md-whiteframe="24" layout layout-align="center center">
        <a href='#!parks/description'>
          <img id="favoriteImg" ng-src="{{nationalPark.picture}}" ng-click="vm.parkDescription(nationalPark)" class="md-card-image"
            alt="Washed Out">
        </a>
      </div>

      <!-- Delete button to delete favorited park -->
      <md-button class="md-raised" ng-click="vm.deleteFavorites(favorites._id)">Delete from Favorites List</md-button>

    </md-card>

  </div>