<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/parkNav.html'"></div>

<!-- Title of the gallery view -->
<div>
    <h1 class="photoHeader">Photos of {{vm.parkList.list.name}} National Park</h1>
</div>

<!-- Submit photo button -->
<md-button class="md-raised" layout="column" layout-align="center end" ng-click="vm.openPicker(vm.userObject._id, vm.parkList.list.parkCode, images.url)">Add Photo</md-button>

<div class="photoContainer">

    <!-- Card for each photo uploaded -->
    <md-card class="whiteframe" ng-repeat="images in vm.image.list">
        <img id="photo" ng-src="{{images.imgFile}}" class="md-card-image" alt="Washed Out">

        <!-- Edit button to add description -->
        <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions>
                <md-button class="md-icon-button" ng-if="vm.userObject._id == images.user_id" ng-click="vm.showAdvanced(); vm.setIndex($index)">
                    <md-icon md-svg-icon="../../assets/svg/edit.svg"></md-icon>
                </md-button>
            </md-card-icon-actions>
            <md-button class="md-raised" ng-if="vm.userObject._id == images.user_id" ng-click=" vm.deleteUserPhotos(images._id, vm.parkList.list.parkCode)">Delete Photo</md-button>
        </md-card-actions>

        <!-- Photos description -->
        <md-card-content>
            <p>
                {{images.description}}
            </p>
        </md-card-content>

    </md-card>

</div>