<div class="homeNav" ng-include="'views/partials/nav.html'"></div>
<div class="homeBackground">
    <div 
        class="homeForm"
        layout="column"
        layout-align="center center">
        <h1 class="homeTitle">Choose Your Park</h1>
        <!-- <form 
            class="nationalParkForm"
            name="myForm"
            layout="row"
            layout-align="center center"> -->
                <md-input-container 
                    layout="column"
                    layout-align="stretch"
                    class='selectContainer'>
                    <label style="color:rgb(48,48,48)">National Park</label>
                    <md-select 
                    ng-model="vm.parkSelected"
                    ng-change="vm.parkDescription(vm.parkSelected)"
                    placeholder="NationalPark">
                        <md-option ng-value="park" ng-repeat="park in vm.nationalPark">{{park.name}}</md-option>
                    </md-select>
                </md-input-container>
        <!-- </form> -->
    </div>
</div>