<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/parkNav.html'"></div>
<md-button id="myBtn" class="md-raised" ng-click="vm.showAdvanced()">Add Review</md-button>
<div 
    layout="column"
    layout-align="start"
    ng-repeat="parks in vm.parkList.list.data">
    <md-toolbar class="md-hue-9" >
        <div class="md-toolbar-tools">
            <span>{{parks.name}} Reviews</span>
        </div>
    </md-toolbar>
      
    <md-content>
    <md-list>
        <md-list-item ng-repeat="userReviews in vm.reviewList.list" class="md-3-line">
        <!-- <img ng-src="" class="md-avatar" alt="" /> -->
        <div class="md-list-item-text" layout="column">
            <h3>{{userReviews.username}}</h3>
            <p>{{userReviews.comment}}</p>
            <jk-rating-stars rating="userReviews.ratings" readonly></jk-rating-stars>
            <div style="width: 100px"></div>
        </div>
        <md-button 
        class="md-raised"
        ng-if="vm.userObject._id == userReviews.user_id"
        ng-click="vm.deleteReview(userReviews._id, parks.parkCode)">
            Delete Review
        </md-button>
        </md-list-item>
    </md-list>
    </md-content>
</div>



